{% extends 'users/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<div class="content-section">
    {% if validlink %}

    <form method="POST">
        {% csrf_token %}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">Reset Password</legend>
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-outline-info" onclick="this.disabled=true;this.value='Submitting...'; this.form.submit();" type=submit>Reset Password</button>
        </div>
    </form>
    {% else %}
    <img src="https://img.freepik.com/free-vector/opps-wording-comic-speech-bubble-pop-art-style_1150-39953.jpg?size=626&ext=jpg" height=300 width=100%; />
    <br><br>
        <p>The password reset link was invalid, possibly because it has already been used or expired.  Please request a new password reset.</p>

        <a href="{% url 'home' %}"><button class="btn btn-outline-info">Back to Home</button></a>

    {% endif %}
    <br><br>
</div>
{% endblock content %}